.DS_Store

rdata/
output/
*.rdata
*.rds

*cache/
*figure*/
*.html
.nfs*
test.png
stan/models/univariateRandomSlopes
stan/models/univariate
stan/models/bivariateRandomSlopes
stan/models/bivariateRandomSlopes
